body {
  background-color: white;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0 auto;
  color: #111111;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  background-color: #fff;
}

  .visually-hidden:not(:focus):not(:active),
  input[type="checkbox"].visually-hidden,
  input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: Oswald;
  src: url('../fonts/oswaldregular.woff2')
       format('woff2'),
       url('../fonts/oswaldregular.woff')
       format('woff');
}

@font-face {
  font-family: OswaldMedium;
  src: url('../fonts/oswaldmedium.woff2')
       format('woff2'),
       url('../fonts/oswaldmedium.woff')
       format('woff');
}

