.info-cat label {
    margin: 200px 0;
    margin-left: 20px;
  }

  .form__info-cat input[type="text"],
  .form__info-cat input[type="number"] {
    margin: 7px 0px 12px 10px;
    border: 1px solid #cfcfcf;
    height: 41px;
    text-transform: uppercase;
    padding-left: 15px;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
  }

  .info-cat__name input[type="text"] {
    width: 212px;
    margin: 14px 0px 6px 14px;
  }

  .info-cat__weight input[type="number"] {
    width: 187px;
    margin: 7px 0px 7px 16px;
  }

  .info-cat__age input[type="number"] {
    width: 155px;
    margin: 7px 0px 7px 16px;
  }

@media (min-width: @tablet-width) {
  .info-cat label {
    margin-left: 70px;
  }

  .form__info-cat input[type="text"],
  .form__info-cat input[type="number"] {
    margin: 7px 0px 7px 10px;
    border: 1px solid #cfcfcf;
    height: 45px;
    text-transform: uppercase;
    padding-left: 15px;
    font-family: "Oswald", "Arial", sans-serif;
    margin-top: 10px;
    font-size: 20px;
  }

  .info-cat__name input[type="text"] {
    margin: 7px 0px 8px 17px;
    width: 550px;
  }

  .info-cat__weight input[type="number"] {
    width: 518px;
    margin: 15px 0px 15px 21px;
  }

  .info-cat__age input[type="number"] {
    width: 480px;
    margin: 7px 0px 7px 18px;
  }
}

@media (min-width: @desktop-width) {
  .info-cat {
    max-width: 700px;
  }

  .info-cat {
    margin: 0 40px;
  }

  .info-cat label {
    margin: 0 40px;
  }

  .form__info-cat input[type="text"],
  .form__info-cat input[type="number"] {
    margin: 7px 0px 7px 10px;
    border: 1px solid #cfcfcf;
    height: 45px;
    text-transform: uppercase;
    padding-left: 15px;
    font-family: "Oswald", "Arial", sans-serif;
  }

  .form__info-cat input[type="text"]:hover ,
  .form__info-cat input[type="number"]:hover {
    border: 1px solid #cdcdcd;
  }

  .form__info-cat input[type="text"]:focus ,
  .form__info-cat input[type="number"]:focus {
    border: 1px solid #444444;
  }

  .form__info-cat input[type="text"]:required ,
  .form__info-cat input[type="number"]:required {
    border: 1px solid #ff8282;
  }

  .info-cat__name input[type="text"] {
    width: 504px;
  }

  .info-cat__weight input[type="number"] {
    width: 475px;
  }

  .info-cat__age input[type="number"] {
    width: 435px;
  }
}
