.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  margin: 0 auto;
}

.profile__wrapper {
  background-color: #fff;
  width: 320px;
  position: relative;
}

.profile__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  color: #000000;
  font-weight: normal;
  margin: 17px 0 29px 20px;
}

.profile__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  margin-left: 20px;
  width: 228px;
}

@media (min-width: @tablet-width) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 768px;
    margin: 0 auto;
  }

  .profile__wrapper {
    background-color: #fff;
    width: 768px;
    position: relative;
    margin-bottom: 70px;
    height: 1773px;
  }

  .profile__heading {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 60px;
    color: #000000;
    font-weight: normal;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 40px;
  }

  .profile__text {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
    margin-left: 70px;
    width: 330px;
    margin-top: 0;
    margin-bottom: 40px;
  }
}

@media (min-width: @desktop-width) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 1440px;
    margin: 0 auto;
  }

  .profile__wrapper {
    background-color: #fff;
    width: 1440px;
    position: relative;
    margin-bottom: 70px;
    height: 1396px;
  }

  .profile__heading {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 60px;
    color: #000000;
    font-weight: normal;
    margin-left: 110px;
    margin-top: 33px;
    margin-bottom: 40px;
  }

  .profile__text {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    color: #000000;
    text-transform: uppercase;
    margin-left: 110px;
    width: 330px;
    margin-top: 0px;
    margin-bottom: 40px;
  }
}
