.catalog h1 {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  color: #111111;
  text-decoration: none;
}

.catalog-list {
  list-style: none;
}

.item-catalog__link {
  text-decoration: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  color: #111111;
}

.catalog-list__item p {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  color: #444444;
}

.item-catalog__link-button {
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
  color: white;
  padding: 12px 106px;
  font-family: "Oswald";
  font-size: 16px;
}

.catalog-product__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  color: #111111;
}

.catalog-product__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  color: #444444;
}

.catalog-product__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  color: #444444;
  background-color: #f2f2f2;
  padding: 12px 93px;
  text-decoration: none;
}
