.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  margin: 0 auto;
}

.catalog-wrapper {
  background-color: #fff;
}

.catalog h1 {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  color: #111111;
  text-decoration: none;
  font-weight: normal;
  margin: 0;
  margin-left: 20px;
  padding: 35px 0;
  border-bottom: 2px solid #ededed;
}

.catalog-list {
  list-style: none;
  margin: 0;
  margin-left: 20px;
  padding: 0;
}

.item-catalog {
  border-bottom: 2px solid #ededed;
  min-height: 208px;
  padding: 20px 0;
}


.item-catalog__info {
  display: flex;
  margin-bottom: 20px;
}

.item-catalog__img {
  width: 140px;
  height: 144px;
}

.img__ch-sm {
  background-image: url(../img/chicken-small-mobile@1x.jpg);
}

.img__ch-big {
  background-image: url(../img/chicken-big-mobile@1x.jpg);
}

.img__fish-sm {
  background-image: url(../img/fish-small-mobile@1x.jpg);
}

.img__fish-big {
  background-image: url(../img/fish-big-mobile@1x.jpg);
}

.img__bw-sm {
  background-image: url(../img/buckwheat-small-mobile@1x.jpg);
}

.img__bw-big {
  background-image: url(../img/buckwheat-big-mobile@1x.jpg);
}

.img__rice-sm {
  background-image: url(../img/rice-small-mobile@1x.jpg);
}

.item-catalog__table {
  width: 140px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  color: #444444;
}

.item-catalog__link {
  text-decoration: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  color: #111111;
}

.catalog-list__item h3 {
  font-weight: normal;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: 16px;
  color: #111111;
}

.catalog-list__item p {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  color: #444444;
}

.item-catalog__link-button {
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
  color: white;
  padding: 12px 110px;
  font-family: "Oswald";
  font-size: 16px;
  margin-left: 20px;
}

.item-catalog__link-button:hover {
  background-color: #5eaa2f;
}

.item-catalog__link-button:active {
  color: #8fc46e;
  background-color: #5eaa2f;
}

.catalog-product {
  display: flex;
  flex-direction: column;
}

.catalog-product__plus {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #fff;
  margin-top: 26px;
  margin-left: 145px;
}

.catalog-product-plus::after {
  content: "";
  width: 30px;
  height: 20px;
  position: absolute;
  background-color: blue;
  top: 20px;
}

.catalog-product__heading {
  text-transform: uppercase;
  text-align: center;
}

.catalog-product__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  color: #444444;
  text-align: center;
  margin: 0;
}

.catalog-product__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  color: #444444;
  background-color: #f2f2f2;
  padding: 12px 93px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  margin: 20px;
  cursor: pointer;
}

.catalog-product__link:hover {
  background-color: #ebebeb;
}

.catalog-product__link:active {
  background-color: #ebebeb;
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .catalog {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 768px;
    margin: 0 auto;
  }

  .catalog-wrapper {
    background-color: #fff;
  }

  .catalog h1 {
    font-size: 60px;
    margin-left: 30px;
    padding: 35px 0;
    border: none;
  }

  .catalog-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    margin-left: 0px;
    padding: 0;
    width: 768px;
  }

  .item-catalog {
    border: none;
    min-height: 208px;
    padding: 20px 0;
    width: 324px;
    margin: 60px 30px;
    height: 431px;
    background-color: #f2f2f2;
  }

  .item-catalog:last-child {
    background-color: #fff;
    border: 1px solid #f2f2f2;
    height: 431px;
    width: 322px;
  }

  .item-catalog__img {
    width: 324px;
    height: 174px;
    background-repeat: no-repeat;
    margin-top: -80px;
  }

  .item-catalog:nth-child(2n) .item-catalog__img {
    width: 324px;
    height: 208px;
    background-repeat: no-repeat;
    margin-top: -106px;
  }

  .img__ch-sm {
    background-image: url(../img/chicken-small-tablet@1x.png);
  }

  .img__ch-big {
    background-image: url(../img/chicken-big-tablet@1x.png);
  }

  .img__fish-sm {
    background-image: url(../img/fish-small-tablet@1x.png);
  }

  .img__fish-big {
    background-image: url(../img/fish-big-tablet@1x.png);
  }

  .img__bw-sm {
    background-image: url(../img/buckwheat-small-tablet@1x.png);
  }

  .img__bw-big {
    background-image: url(../img/buckwheat-big-tablet@1x.png);
  }

  .img__rice-sm {
    background-image: url(../img/rice-small-tablet@1x.png);
  }

  .item-catalog__info {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    align-items: center;
  }

  .item-catalog__table {
    width: 250px;
    font-size: 16px;
  }

  .item-catalog__table tr {
    min-height: 61px;
  }

  .item-catalog__table td {
    border: none;
    border-bottom: 1px solid #cdcdcd;
    min-height: 61px;
  }

  .catalog-list__item h3 {
    font-style: 20px;
    line-height: 20px;
    text-align: center;
    max-width: 131px;
    margin: 30px 70px;
    text-transform: uppercase;
  }

  .catalog-list__item p {
    font-size: 16px;
  }

  .item-catalog__link-button {
    padding: 13px 98px;
    font-size: 16px;
    margin: 30px;
    margin-left: 38px;
  }

  .catalog-product {
    display: flex;
    flex-direction: column;
  }

  .catalog-product__plus {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #fff;
    margin-top: 26px;
    margin-left: 145px;
  }

  .catalog-product-plus::after {
    content: "";
    width: 30px;
    height: 20px;
    position: absolute;
    background-color: blue;
    top: 20px;
  }

  .catalog-product__heading {
    text-transform: uppercase;
    text-align: left;
    margin: 0;
    margin-left: 195px;
  }

  .catalog-product__text {
    font-size: 16px;
    width: 173px;
    margin-bottom: 89px;
    margin-left: 78px;
  }

  .catalog-product__link {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    color: #444444;
    background-color: #f2f2f2;
    padding: 12px 93px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin: 20px;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 1440px;
    margin: 0 auto;
  }

  .catalog-wrapper {
    background-color: #fff;
    margin-left: 0px;
  }

  .catalog h1 {
    font-size: 60px;
    margin-left: 0px;
    padding: 35px 0;
    border: none;
  }

  .catalog-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    margin-left: 0px;
    padding: 0;
    width: 1220px;
  }

  .item-catalog {
    border: none;
    min-height: 208px;
    padding: 20px 0;
    width: 245px;
    margin: 60px 40px;
    height: 432px;
    background-color: #f2f2f2;
    position: relative;
  }

  .item-catalog:last-child {
    background-color: #fff;
    border: 1px solid #f2f2f2;
    height: 432px;
    width: 243px;
    margin-right: 0;
  }

  .item-catalog:first-child,
  .item-catalog:nth-child(5) {
    margin-left: 0;
  }

  .item-catalog:nth-child(4) {
    margin-right: 0;
  }

  .item-catalog__link-button {
    text-transform: uppercase;
    text-decoration: none;
    background-color: #68b738;
    color: white;
    padding: 0;
    padding: 10px 55px;
    font-family: "Oswald";
    font-size: 16px;
    margin-left: 38px;
    text-align: center;
    position: absolute;
    top: 352px;
    cursor: pointer;
  }

  .item-catalog__img {
    width: 245px;
    height: 174px;
    background-repeat: no-repeat;
    margin-top: -80px;
  }

  .item-catalog:nth-child(2n) .item-catalog__img {
    width: 245px;
    height: 208px;
    background-repeat: no-repeat;
    margin-top: -106px;
  }

  .img__ch-sm {
    background-image: url(../img/chicken-small-desktop@1x.png);
  }

  .img__ch-big {
    background-image: url(../img/chicken-big-desktop@1x.png);
  }

  .img__fish-sm {
    background-image: url(../img/fish-small-desktop@1x.png);
  }

  .img__fish-big {
    background-image: url(../img/fish-big-desktop@1x.png);
  }

  .img__bw-sm {
    background-image: url(../img/buckwheat-small-desktop@1x.png);
  }

  .img__bw-big {
    background-image: url(../img/buckwheat-big-desktop@1x.png);
  }

  .img__rice-sm {
    background-image: url(../img/rice-small-desktop@1x.png);
  }

  .item-catalog__info {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    align-items: center;
  }

  .item-catalog__table {
    width: 250px;
    font-size: 16px;
  }

  .item-catalog__table tr {
    min-height: 61px;
  }

  .item-catalog__table td {
    border: none;
    border-bottom: 1px solid #cdcdcd;
    min-height: 61px;
  }

  .item-catalog__text {

  }

  .catalog-list__item h3 {
    font-style: 20px;
    line-height: 20px;
    text-align: center;
    min-width: 133px;
    margin: 30px 70px;
    text-transform: uppercase;
  }

  .catalog-list__item p {
    font-size: 16px;
  }

  .catalog-product {
    display: flex;
    flex-direction: column;
    width: 245px;
    height: 432px;
    position: relative;
  }

  .catalog-product__plus {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #fff;
    margin-top: 26px;
    margin-left: 145px;
  }

  .catalog-product-plus::after {
    content: "";
    width: 30px;
    height: 20px;
    position: absolute;
    background-color: blue;
    top: 20px;
  }

  .catalog-product .catalog-product__heading {
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin: 164px 53px 32px;
    width: 137px;
  }

  .catalog-product__text {
    font-size: 16px;
    width: 173px;
    margin-bottom: 47px;
    margin-left: 38px;
  }

  .catalog-product__link {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    color: #444444;
    background-color: #f2f2f2;
    padding: 12px 38px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin: 0px;
    max-width: 169px;
    position: absolute;
    top: 361px;
    left: 37px;
  }
}
