.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  min-width: 320px;
  position: relative;
  height: 236px;
}

.page-footer__wrapper {
  width: 320px;
}


@media (min-width: @tablet-width) {
  .page-footer {
    min-width: 768px;
    min-height: 150px;
    height: 150px;
  }

  .page-footer__wrapper {
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    min-width: 1440px;
    min-height: 150px;
  }

  .page-footer__wrapper {
    width: 1440px;
    display: flex;
    justify-content: space-between;
  }
}
