.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  margin: 0 auto;
}

.profile__wrapper {
  background-color: rgb(137, 204, 235);
  width: 320px;
}

.profile__form {
}

.profile__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  color: #000000;
  font-weight: normal;
  margin-left: 20px;
}

.profile__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
  margin-left: 20px;
  width: 228px;
}

.profile__form fieldset {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
  border: none;
  border-bottom: 1px solid #ededed;
  margin: 0 20px;
  padding: 20px 0;
  position: relative;
}

.form__p {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-transform: none;
}

.form__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  background-color: #68b738;
  border: none;
  padding: 14px 79px;
  margin-left: 20px;
}

.form__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: #444444;
  text-transform: none;
  text-align: center;
}

.form__weight ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__weight-checkbox {
  position: relative;
  cursor: pointer;
  padding-left: 40px;
}

.form__weight-checkbox input[type="radio"] + .checkbox-radio {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url(../img/radiobutton.svg);
  background-repeat: no-repeat;
  top: 50%;
  transform: translateY(-50%);
}

