.program__weight {
    background-color: #f2f2f2;
    color: #111111;
    font-family: "Oswald", "Arial", sans-serif;
  }

  .weight h3 {
    text-transform: uppercase;
    padding: 36px 0 0 0px;
    margin-left: 17px;
  }

  .weight__description {
    font-family: "Arial", sans-serif;
    border-bottom: 1px solid #d9d9d9;
    font-size: 14px;
    max-width: 230px;
    padding: 10px 0 20px 0px;
    margin-left: 17px;
  }

  .weight__link {
    text-decoration: none;
    color: #111111;
    text-transform: uppercase;
    margin-left: 17px;
  }
