.program {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  background-color: #fff;
  margin: 0 auto;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .program {
    width: 768px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: @desktop-width) {
  .program {
    width: 1440px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    margin-top: 52px;
  }
}
